<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiptic.gamethriveexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
    <permission android:name="com.hiptic.gamethriveexample.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.hiptic.gamethriveexample.permission.C2D_MESSAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- If getting error here go to File>Import... then pick "Existing Projects into workspace" find the google-play-services_lib project
       		 <android-sdk>\extras\google\google_play_services\libproject\google-play-services_lib
       				"C:\Program Files (x86)\Android\android-sdk-windows\extras\google\google_play_services\libproject\google-play-services_lib" -->
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity android:name="com.gamethrive.NotificationOpenedActivity"/>
        
        <activity
            android:name="com.hiptic.gamethriveexample.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
      	 android:name="com.gamethrive.GcmBroadcastReceiver"
       	 android:permission="com.google.android.c2dm.permission.SEND" >
        	<intent-filter>
            	<action android:name="com.google.android.c2dm.intent.RECEIVE" />
            	<category android:name="com.hiptic.gamethriveexample" />
         	</intent-filter>
     	</receiver>
     	<service android:name="com.gamethrive.GcmIntentService" />
    </application>

</manifest>
